/* google fonts styles */
.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


.raleway-normal {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* parent styles */
body {
    width: 1440px;
    background-color: #F5F8FF;
}

header a,
main a {
    text-decoration: none;
}

/* shared styles */

.secondary-bg {
    background-image: url(../Assets/Hero-bg.png);
    background-repeat: no-repeat;
    height: 698px;
}

.primary-color {
    color: #4E47FF;
}

.secondary-color {
    color: #252432;
}

.btn-primary {
    background-color: #4E47FF;
    color: #FFFFFF;
    border-radius: 10px;
    border: none;
    height: 48px;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 36px;
    cursor: pointer;
}

.btn-primary:hover {
    color: black;
    background-color: chartreuse;
}

.text-center {
    text-align: center;
}


/* nav styles */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 150px;
}

.nav-logo {
    font-size: 34px;
    font-weight: 900;
}

/* banner styles */
.banner {
    display: flex;
    justify-content: center;
    margin: 158px 268px 152px;
}

.banner-title {
    font-size: 65px;
    font-weight: bold;
    margin: 0 0 37px;
}

/* action styles */
.action-container {
    display: flex;
    align-items: center;
    margin: 116px 150px;
}

.action-content {
    margin: 63px 220px 63px 0;
}

.action-title {
    font-size: 42px;
    font-weight: bold;
    margin: 0;
}

.action-description {
    font-size: 24px;
    margin: 23px 0 35px;
    color: #252432;
}

.action-container img {
    border-radius: 48px;
}

/* productive users styles */

.productive-container {
    padding: 50px 80px;
    margin: 116px 150px 137px;
    background-color: rgba(78, 71, 255, 0.1);
    border-radius: 24px;
}

.productive-title {
    font-size: 38px;
    font-weight: bold;
    margin: 0;
}

.productive-content {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 158px;
    margin-top: 40px;
}

.product-data-title {
    font-size: 80px;
    font-weight: bold;
    margin: 0;
}

.product-data-description {
    font-size: 20px;
    margin: 0;
    color: rgba(0, 0, 0, 0.5);
}

/* user feedback styles */
.feedback-section {
    padding: 0 150px 137px;
}

.feedback-section-title {
    font-size: 42px;
    font-weight: bold;
    margin: 0;
}

.feedback-container {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
}

.feedback-content {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 24px;
    border-radius: 14px;
    border: 1px solid #F2EDED;
}

.feedback-icons {
    display: flex;
    align-items: center;
    gap: 4px;
    width: 20px;
    height: 20px;
    margin: 0;
}

.feedback-titles {
    margin: 24px 0;
}

.feedback-title {
    color: #1E1E1E;
    font-size: 24px;
    font-weight: 600;
    margin: 0;
}

.feedback-subtitle {
    font-size: 16px;
    color: #1E1E1E;
    margin: 8px 0 0;
}

.feedback-review {
    display: flex;
    align-items: center;
    gap: 12px;
}

.feedback-review img {
    border-radius: 9999px;
    width: 40px;
    height: 40px;
    margin-bottom: 6px;
}

.feedback-reviewer-name {
    color: #757575;
    font-size: 16px;
    font-weight: 600;
    margin: 0;
}

.feedback-review-date {
    color: #B3B3B3;
    font-size: 16px;
    margin: 0;
}

/* ready to focus better styles */
.focus-better-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 150px 92px;
    padding: 71px 150px;
    background-color: #FFFFFF;
    border-radius: 14px;
}


.focus-better-title{
    font-size: 50px;
    font-weight: bold;
    color: #000000;
    margin: 0;
}

.focus-better-subtitle{
    color: rgba(0, 0, 0, 0.5);
    font-size: 16px;
    margin: 20px 0;
}

.getfree-btn{
    margin: 0 0 20px;
}

.focus-img{
    border-radius: 48px;
}

/* let's get in touch styles */
.getin-touch-container {
    display: flex;
    align-items: center;
    margin: 0 150px 14px;
    padding: 72px 0;
}

.getin-touch-content {
    width: 50%;
}

.getin-touch-title {
    font-size: 97px;
    font-weight: bold;
}

.input-field {
    background-color: #FFFFFF;
    color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(214, 221, 237, 1);
    border-radius: 10px;
    height: 60px;
    width: 497px;
    padding: 20px 32px;
    margin: 19px 0;
    display: block;
    font-size: 20px;
}

.label {
    font-size: 18px;
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
}

.get-btn {
    height: 60px;
    width: 100%;
    padding: 19px 101px;
}

/* footer styles */

.footer-section {
    padding: 104px 455px;
    background-color: #FFFFFF;
}

.website-name {
    font-size: 100px;
    font-weight: 900;
    margin: 0;
}

.website-subtitle {
    color: rgba(137, 135, 161, 1);
    margin-top: 8px;
}

.footer-nav {
    margin-top: 20px;
}

.footer-nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.footer-nav ul li {
    list-style: none;
}

.footer-nav a {
    text-decoration: none;
    color: rgba(137, 135, 161, 1);
    margin: 0;
}

.footer-nav a:hover {
    background-color: #bbcffe;
    color: #1E1E1E;
}